*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}




#navbar{
    
    background-color: #312e292e;
   position: fixed;
  top: 0;
  left: 0;
    padding-inline: 200px;
    width: 100%;
    
}

.navMenu{
    margin-top: 15px;
    float: right;
    
}
.navMenu li{
    display: inline;
    padding-inline: 10px;
}
.navMenu li a{
  color: white;
  font-size: 20px;
   font-family: "Alegreya", serif;
   font-weight: 400;
}
#navbar img{
    width: 200px;
    float: left;

}
.clearFix{
    clear: both;}

.hcontainer{
 
    background-image: url(imgs/bg.jpg);
    align-items: center;
    height: 100dvh;
    background-size: cover;
    background-repeat: no-repeat ;
    text-align: center;
    background-attachment: fixed;
    text-align: center;
    margin: 10px;
}

.herocontent{

   padding: 20px; 
  
}

.pp{

    margin-top: 200px;
}
h1{
    
    font-size: 72px;
    color: #FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 10px;
 }
 

 p{

    font-size: 22px;
    color: #FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 10px;
   
 }

    .btn2{
        background-color: #FFFFFF;
        color:#222222;
        text-align: center;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 12px;
        padding: 20px;
        border-radius: 10px;
        border-color: #FFFFFF;
        margin: 10px;
    }


    .btn1{
        background-color: transparent;
        color:#FFFFFF;
        text-align: center;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 12px;
        padding: 20px;
        border-radius: 10px;
        border-color: #FFFFFF;
        margin: 10px;
    }

    .btn1:hover{
        color: #222222;
       background-color: #FFFFFF;
        transform: scale(1.1); transition: transform 0.3s;
    }

    .btn2:hover{

        transform: scale(1.1); transition: transform 0.3s;
    }

    
    .aboutcontainer{
        height: 300px;
        text-align: center;
       
    }
    h2{
        font-size: 40px;
        margin-top: 100px;
        text-align: center;
     
    }

    .p2{
        margin-top: 50px;
        margin-left: 100px;
        margin-right: 100px;
        padding: 80px;
        font-size: 18.15px;
        color: #606060;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 400;
        text-align: center;
        padding: 10px;
    }
/* 3rd wp */

    .aboutcont1{
      margin: 100px;
        /* background-color: #8E7754; */
        float: left;
        height: 500px;
        text-align: center
    }
    .about1{
       
        float: left;
        width: 50%;
    
    }

    .about2{
        
    padding-left: 20px;
    float: left;
    width: 50%;
        height: 650px;
       
    }
    /* .clearFix{
    clear: both;} */

    .img{
        width: 500px;
    }
    

    .aboutcont2{
        margin: 100px;
        /* background-color: #8E7754; */
        float: left;
        height: 500px;
        text-align: center
    

    }


.h2a{
        color:#303030;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 32px;
        text-align: start;
        line-height: 44.16px;
        margin-left: 45px;

}

.p3{
        margin-left: 40px;
        line-height: 27.9px;
        color: #686868;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        text-align: start;
        font-weight: 400;
}

    .aboutul{
        color: #686868;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        text-align: start;
        margin-top: 20px;
        padding: 50px;


    }
     .clearFix{
    clear: both;}
    i{
    color: #8E7754;
  font-size: 20px;
  text-align: start;
  padding: 10px;
}

   

    
.about3{
    float: left;
    width: 50%;
}

.about4{
    float: left;
    width: 50%;
}
.clearFix{
    clear: both;
}

/* wp5 */

#activity{
        background-image: url(imgs/lamp.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    
        width: 100%;
        float: left;
        height: 500px;
        text-align: center


}

.d1{
    padding: 25px;
    margin-top: 150px;
    background-color:transparent;
    width: 24%;
    float: left;
    text-align: center
    
    
 } 

 h3{
    font-weight: 400;
    font-size: 52px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
 }


#activity .d1 span i{
font-size: 35px;
font-weight: 400;
color: #FFFFFF;

 }



 .activity{
      /* background-color: #8E7754; */
      margin-bottom: 200px;
      align-items:baseline;
        width: 100%;
        float: left;
        text-align:start
        
        
 }

 .activity .d2 span i{
    text-align: start;
    /* background-color: aqua; */
    font-size: 35px;
    font-weight: 400;
    color: #686868;
    display: inline-block;
    vertical-align: middle; 
    margin: 0 5px;
   
 }

 h5{
    font-size: 17px;
    font-weight: 500;
    color: #686868;
     display: inline-block;
    vertical-align: middle; 
    margin: 0 5px;
    /* background-color: rgb(121, 54, 173); */
 }

 .p4{
    font-size: 16px;
    font-weight: 400;
    color: #686868;
    margin-left: 50px;
    text-align: start;
    /* background-color: chartreuse; */
 }
.d2{
    align-items: center;
    float: left;
    margin-bottom: 500px;
}
 

#contact{
margin-left: 250px;
 margin-top: 150px;
        /* background-color: #8E7754; */
        float: left;
        height: 500px;
        text-align: center
}
.contactul{
/* background-color: #dd3737; */
     color: #686868;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        text-align: start;
        padding: 50px;

}

 #comment{
    background-image: url(imgs/interior.jpg);
    width: 100%;
    background-size: cover;
    margin-top: 200px;
       
        float: left;
        height: 900px;
        

}



 h5{
    font-size: 20px;
    font-weight: 400;
    color: #686868;
    text-align: center;
} 

 .p5{
 font-size: 30px;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
}

.comment{
    margin-top: 150px;
    text-align: center;
}
.comment2{
    background-color: #4738382f;
    margin-left: 70px;
    margin-top: 100px;
   float: left;
   
    
}

h6{
font-size: 50px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}
.p6{
text-align: start;
font-size: 20px;


}  


.comment2:hover{

        transform: scale(1.1); transition: transform 0.3s;
    }